/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
  font-family: $font-stack-sans-serif;
  color: #777;
  box-sizing: border-box;
}

p {
  line-height: 1.45em;
}

a {
  text-decoration: none;
}

/* ============================================= */
/*              Typography                       */
/* ============================================= */

.headline-primary {
  color: $color-viking-green;
  margin-left: 10px;
}

.headline-secondary {
  font-weight: $font-weight-light;
  color: $color-boulder-gray;
}

.link {
  color: $color-malibu-blue;
  font-weight: 700;
}

.blockquote {
  font-size: 1.5em;
  font-weight: $font-weight-light;
  font-style: italic;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 8px solid $color-viking-green;
  border-radius: $radius-main;
}
